body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

.publication {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}

h3 {
    margin-top: 20px;
}

p {
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
}

.download-link {
    display: block;
    margin-top: 20px;
    text-align: center;
}

footer {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
}
/* Responsive Styles */

@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .publication {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }
}